services:
  - type: web
    name: yt-downloader
    env: docker
    dockerfilePath: ./deployment/Dockerfile.production
    dockerContext: .
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 5000
    healthCheckPath: /

